.collection-preview {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    margin: 30px 0 15px 0;
    cursor: pointer;
    display: inline-block;

    &:hover {
      color: rgb(155, 155, 155);
    }
  }

  .btn {
    max-width: 300px;
    margin: 30px auto;
  }
}
