.collection-page {
  display: flex;
  flex-direction: column;
  margin-top: 400px;

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 800px) {
  .collection-page {
    align-items: center;

    .items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
    }
  }
}

@media (max-width: 600px) {
  .collection-page {
    margin-top: 200px;
    .preview {
      grid-gap: 30px 20px;
    }
  }
}
