.container {
  max-width: 960px;
  margin: 70px auto 50px;
  padding: 4%;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: rgb(105, 105, 105);
}

* {
  box-sizing: border-box;
}

.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1.75s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
