h2 {
  font-size: 30px;
}

span {
  font-weight: lighter;
  font-size: 20px;
}

.sign-in-and-sign-up {
  max-width: 90%;
  margin: 30px auto;
}

@media (min-width: 720px) {
  .sign-in-and-sign-up {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 960px) {
  .sign-in-and-sign-up {
    max-width: 850px;
  }
}
