.sign-up {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;

  .title {
    margin: 10px 0;
    text-align: center;
  }

  span {
    text-align: center;
  }

  .btn {
    text-align: center;
  }

  .error-message {
    color: red;
    display: block;
    margin-bottom: 10px;
  }
}

@media (min-width: 720px) {
  .sign-up {
    width: 300px;

    .title {
      text-align: left;
    }

    span {
      text-align: left;
    }
  }
}

@media (min-width: 960px) {
  .sign-up {
    width: 380px;
  }
}
