.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 800px) {
  .collection-page {
    align-items: center;

    .items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
    }
  }
}

@media (max-width: 600px) {
  .collection-page {
    .preview {
      grid-gap: 30px 20px;
    }
  }
}
