.checkout-page {
  max-width: 800px;
  padding: 1em;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }

  .red {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    letter-spacing: 0.075em;
    color: red;
  }

  button {
    margin: 10px auto;
  }

  .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .checkout-page {
    font-size: 17px;

    .checkout-header {
      font-size: 17px;
    }
  }
}
